*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text{
    margin-top: 190px;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    
}
h1{
    font-size: 55px;
    color: #1877f2;
    line-height: 1.34;
    letter-spacing: normal;
    
}
h2{
    font-weight: 490;
    line-height: 32px;
    width: auto;
    font-size: 26px;
    color: #333;
    letter-spacing: normal;
    
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f0f2f5;
    color: #1c1e21
}
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container{
    background: #ffff;
    width: 396px;
    padding: 20px 0 28px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 190px 0 0;
}
@media all and (max-width: 800px){
    .container{
        margin: 40px 0 0;
    }
    .text{
        text-align: center;
    }
    .h2{
        font-size: 24px;
    }
    
}