*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f0f2f5;
    color: #1c1e21;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.left, .right, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.left{
    width: 500px;
    align-items: flex-start;
}
.left h1{
    color: #1877f2;
    font-size: 55px;
}
.left h2{
    font-size: 26px;
    color: #333;
    letter-spacing: normal;
    font-weight: 490;
    line-height: 32px;
}
.right{
    width: 400px;
    align-items: flex-start;
    
}
form{
    display: flex;
    background: #ffff;
    width: 396px;
    margin: 0 0 0 25px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
form input{
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    border: 1px solid#dadde1;
    margin-bottom: 10px;
    color: #000;
}
.login-btn{
    width: 100%;
    padding: 8px;
    background: #1877f2;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5%;
}
.login-btn:hover{
    background-color: #166fe5;
}
.forgot-pass{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #1877f2;
    margin: 15px 0;
    padding: 0 0 20px 0;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #dadde1;
}
.sign-up{
    margin: 15px 0;
}
.signupbtn{
    background: #42b72a;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
}
.signupbtn:hover{
    background-color: green;
}
.right p{
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
@media all and (max-width: 950px){
    .container{
        flex-flow: column;
        width: 100%;
    }
    .left{
        width: 350px;
        align-items: center;
        align-content: center;
    }
    .left h2{
        text-align: center;
        font-size: 24px;
    }
    .left{
        margin:40px 0 0 0 ;
    }
    .right{
        margin: 40px 0;
        
    }
    .right, form{
        width: 350px;
        align-items:center ;
    }
    
}
@media all and (max-width: 400px){
    .left{
        width: 300px;
    }
    .right, form{
        width: 300px;
    }
}

/* footer styling */
footer{
  background: #fff;
  padding: 0 170px;

}

.footer-parent ul{
    display: flex;
    flex-flow: row wrap;
    padding: 15px 0;
   
}
.footer-parent li{
    list-style-type: none;
    padding: 5px;
    font-size: 12px;
    color: #737373;
    /* border-bottom: 1px solid #dadde1; */
}

.footer-child ul li{
    display: inline;
    align-items: flex-end;
    justify-content: space-around;
}

.footer-child li{
    list-style-type: none;
    padding: 5px;
    font-size: 12px;
    color: #737373;
    align-items: flex-start;
}

.copyright{
    font-size: 12px;
    color: #737373;
    margin: 20px 0;
    font-weight: 500;
    padding: 20px 0;
}